* {
    color: #95bdd8 ;
    border-color: #289FED !important;
}

html {
    background-image: url("blastoise.png");
}

audio {
    border-radius: 30px;
    border: 5px solid transparent;
    background: linear-gradient(45deg,rgb(95, 97, 170),rgb(0, 0, 0)) border-box; /*3*/
    mask: /*4*/
    linear-gradient(#000 0 0) padding-box, 
    linear-gradient(#000 0 0);
}

.box, #pokemon {

    -webkit-box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, 5px 0px 2px 5px rgba(0,0,0,0); 
    box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, 5px 0px 2px 5px rgba(0,0,0,0);
}

.ui-btn {
    --hover-btn-color: 289FED;
}